td {
    background: silver;
    color: red;
    border: 1px solid #fff;
    padding: 5px;
}
button {
    padding: 5px;
    border: 1px solid #222;
    width: 80px;
}
button.delete {
    background: #fff;
    color: red;
}
button.update {
    color: #fff;
    background: green;
}